{#
/**
 * @file
 * Default theme implementation for the Feefo reviews summary block.
 *
 * Variables:
 * - merchant_identifier: The Feefo merchant identifier
 * - reviews_url: The link to the reviews URL
 *
 * @see commerce_feefo_preprocess_feefo_review_summary()
 *
 * @ingroup themeable
 */
#}
<p>
  <a href="{{ reviews_url }}" target="_blank">
    <img alt="Feefo logo" border="0" src="https://api.feefo.com/api/logo?merchantidentifier={{ merchant_identifier }}" title="{{ 'Our customer Feefo rating'|t }}" />
  </a>
</p>
